{{>headerDoce}}
<div id= "formulario_registro">
    <h1 id= "registro_est">Estudiantes inscritos</h1><br>
    {{#if inscritos}}
        <h2 id= "registro_est">Curso: {{curso}}<br>Id: {{id_cur}}</h1><br>
        <table id = "tabla_cursos">
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
            </tr>
        {{#each inscritos}}
            <tr>
                <td>{{cedula}}</td>
                <td>{{nombre}}</td>
                <td>{{correo}}</td>
                <td>{{telefono}}</td>
            </tr>
        {{/each}}
        </table>
    {{else}}
        <h2 id= "registro_est">No hay estudiantes inscritos en el curso: {{curso}}</h1><br>    
    {{/if}}
</div>
{{>footer}}